<div class="text-center">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- first_name input-->

  <div class="container">
    <%= f.label :first_name %><br />
    <div class="row">
      <div class="m-auto">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fas fa-skiing p-3"></span>
            <%= f.text_field :first_name, autofocus: true, class: "pr-5 pl-2" %>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <!-- last_name input-->

  <div class="container">
    <%= f.label :last_name %><br />
    <div class="row">
      <div class="m-auto">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fas fa-snowboarding p-3"></span>
            <%= f.text_field :last_name, autofocus: true, class: "pr-5 pl-2" %>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <!-- email input-->

  <div class="container">
    <%= f.label :email %><br />
    <div class="row">
      <div class="m-auto">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fas fa-at p-3"></span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "pr-5 pl-2" %>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <!-- new_password input-->

  <div class="container">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <div class="row">
      <div class="m-auto">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fas fa-unlock p-3"></span>
            <%= f.password_field :password, autocomplete: "new-password", class: "pr-5 pl-2" %>
          </div>
        </div> 
      </div>
    </div>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
      <br /><br />
    <% end %>
  </div>

  <!-- new_password_confirmation input-->

  <div class="container">
    <%= f.label :password_confirmation %><br />
    <div class="row">
      <div class="m-auto">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fas fa-lock p-3"></span>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "pr-5 pl-2" %>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <!-- current_password input-->

  <div class="container">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <div class="row">
      <div class="m-auto">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text fas fa-user-lock p-3"></span>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "pr-5 pl-2" %>
          </div>
        </div> 
      </div>
    </div>
  </div>
  
  <!-- submit button -->

  <div class="actions mt-2">
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>

<h3 class="mt-3">Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

<%= link_to "Back", :back %>
</div>
