<div class="text-center">



<h2>Sign up</h2><br><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


<!--================================================ INPUT MAIL =========================================-->

<!--============ TITRES ==============-->
<div class="form-group">
<!--============ CENTRER LE BOUTON ==============-->
  <div class="container">
    <div class="row">
      <div class="m-auto">
<!--============ CREER UN GROUPE DE BOUTONS ==============-->
  <div class="form-group">
    <div class="input-group mb-3">

<!--============ INTEGRER ICONE DANS LE BOUTON AVANT LE TEXTE (PREPREND)==============-->
      <div class="input-group-prepend">
<!--============ ICONE ==============-->
        <span class="input-group-text fa fa-at"></span>
<!--============ FORM MAIL ==============-->
          <%= f.email_field :email, autofocus: true, placeholder: "email@mail.com" %>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!--================================================ END INPUT MAIL =========================================-->




<!--================================================ INPUT FIRST LAST NAME =========================================-->

    <!--============ TITRES ==============-->
    <div class="form-group">
    <!--============ CENTRER LE BOUTON ==============-->
      <div class="container">
        <div class="row">
          <div class="m-auto">
        <!--============ CREER UN GROUPE DE BOUTONS ==============-->
      <div class="form-group">
        <div class="input-group mb-3">

    <!--============ INTEGRER ICONE DANS LE BOUTON AVANT LE TEXTE (PREPREND)==============-->
          <div class="input-group-prepend">
    <!--============ ICONE ==============-->
            <span class="input-group-text fa fa-user"></span>
    <!--============ FORM MAIL ==============-->
       <%= f.text_field :first_name, placeholder: true %>
     </div>
     </div>
   </div>
 </div>
</div>
</div>
</div>



<!--============ TITRES ==============-->
<div class="form-group">
<!--============ CENTRER LE BOUTON ==============-->
  <div class="container">
    <div class="row">
      <div class="m-auto">
<!--============ CREER UN GROUPE DE BOUTONS ==============-->
  <div class="form-group">
    <div class="input-group mb-3">

<!--============ INTEGRER ICONE DANS LE BOUTON AVANT LE TEXTE (PREPREND)==============-->
      <div class="input-group-prepend">
<!--============ ICONE ==============-->
        <span class="input-group-text fa fa-user"></span>
<!--============ FORM MAIL ==============-->
       <%= f.text_field :last_name, placeholder: true %>
     </div>
     </div>
   </div>
 </div>
</div>
</div>
</div>
<br/>

  <!--================================================ END INPUT FIRST LAST NAME =========================================-->



<!--================================================ INPUT PASSWORD =========================================-->

<!-- INSERT PASSWORD -->
<!--============ TITRES ==============-->
<div class="form-group">
<!--============ CENTRER LE BOUTON ==============-->
  <div class="container">
    <div class="row">
      <div class="m-auto">
<!--============ FONCTION NON DETERMINEE ==============-->


<!--============ CREER UN GROUPE DE BOUTONS ==============-->
        <div class="form-group">
          <div class="input-group mb-3">

<!--============ INTEGRER ICONE DANS LE BOUTON AVANT LE TEXTE (PREPREND)==============-->
            <div class="input-group-prepend">
<!--============ ICONE ==============-->
              <span class="input-group-text fas fa-unlock"></span>
<!--============ FORM MAIL ==============-->
              <%= f.password_field :password, placeholder: "password #{@minimum_password_length} char min" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- CONFIRMATE PASSWORD -->
<!--============ TITRES ==============-->
<div class="form-group">
<!--============ CENTRER LE BOUTON ==============-->
  <div class="container">
    <div class="row">
      <div class="m-auto">
<!--============ CREER UN GROUPE DE BOUTONS ==============-->
        <div class="form-group">
          <div class="input-group mb-3">

<!--============ INTEGRER ICONE DANS LE BOUTON AVANT LE TEXTE (PREPREND)==============-->
            <div class="input-group-prepend">
<!--============ ICONE ==============-->
              <span class="input-group-text fas fa-lock"></span>
<!--============ FORM MAIL ==============-->
    <%= f.password_field :password_confirmation, placeholder: "password confirmation" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- BOUTTON SIGN UP -->
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>

<!--================================================ END INPUT PASSWORD =========================================-->



<% end %>  <!--CLOTURE LE "DO" DANS LE FOM FOR LIGNE 5-->

<%= render "devise/shared/links" %>
</div>
