<p>Voici les photos que tu as achetées. Enfin les liens vers les photos, parce que pour l'instant le stockage ne fonctionne pas de ouf.</p>
<ul>
  <% @order.order_lines.each do |order_line| %>
    <li>
      <%= order_line.item.title %> : 
      <a href="<%= order_line.item.image_url%>">ici</a>
    </li>
  <% end %>
</ul>
<p>C'est moche, non ?</p>