<div class="text-center">
  <h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<br><br>

  <!--================================================ INPUT PASSWORD =========================================-->
  <!--============ TITRES ==============-->
  <div class="form-group">
  <!--============ CENTRER LE BOUTON ==============-->
    <div class="container">
      <div class="row">
        <div class="m-auto">
  <!--============ CREER UN GROUPE DE BOUTONS ==============-->
          <div class="form-group">
            <div class="input-group mb-3">

  <!--============ INTEGRER ICONE DANS LE BOUTON AVANT LE TEXTE (PREPREND)==============-->
              <div class="input-group-prepend">
  <!--============ ICONE ==============-->
                <span class="input-group-text fa fa-at"></span>
    <%= f.email_field :email, autofocus: true, placeholder: "email" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!--================================================ END INPUT PASSWORD =========================================-->

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
