<div class="container">
  <h2>Récapitulatif de votre commande :</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre de la photo</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>
    <tbody>
      <% @items.all.each do |item| %>
      <tr>
        <th scope="row"><%= item.id %></th>
        <td><%= item.title %></td>
        <td><%= item.price %></td>
        <% @order.total += item.price %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <p>Montant de la commande : <%= @order.total %> roupies.</p>
  </div>
  <div>
    <%= button_to 'Payer', '#', class: 'btn btn-danger' %>
  </div>
</div>