<div class="container">
	<h1>Bienvenue sur votre profil <%= current_user.first_name %> !</h1>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="" data-target="#profil_details" data-toggle="tab" class="nav-link active">Profil</a>
    </li>
    <li class="nav-item">
        <a href="" data-target="#user_orders" data-toggle="tab" class="nav-link">Commandes</a>
    </li>
        </ul>
        <div class="tab-content py-4">
            <div class="tab-pane active" id="profil_details">
              <table class='table table-borderless'>
                <tbody>
                  <tr>
                    <th><h3 class='text-secondary'>Prénom</h3></th>
                    <td><p><%= @user.first_name %></p></td>
                  </tr>
                  <tr>
                    <th><h3 class='text-secondary'>Nom</h3></th>
                    <td><p><%= @user.last_name %></p></td>
                  </tr>
                  <tr>
                    <th><h3 class='text-secondary'>Email</h3></th>
                    <td><p><%= @user.email %></p></td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- /tab-pane -->

            <div class="tab-pane" id="user_orders">
              <table class="table table-hover table">
                <thead class='thead-light'>
                  <tr>
                    <th><h4 class='text-secondary'>N° de commande</h4></th>
                    <th><h4 class='text-secondary'>Contenu</h4></th>
                    <th><h4 class='text-secondary'>Montant</h4></th>
                    <th><h4 class='text-secondary'>Date de commande</h4></th>                    
                  </tr>
                </thead> 
                <tbody>
                  <% @orders.each do |order| %>
                  <tr>
                    <td><h6><%= order.id %></h6></td>
				            <td>
				              <% order.items.each do |item| %>
				                <%= item.title %>
				                <br>
		                 <% end %>
		    	          </td>
                    <td><%= order.total %></td>
                    <td><%= order.created_at %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- /tab-pane -->
  <%= link_to "Modifier votre profil", edit_user_registration_path, class: "btn btn-success" %>
</div><!-- /container -->

