<div class="container">
  <h2>Contenu du panier :</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre de la photo</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.all.each do |transaction| %>
      <tr>
        <th scope="row"><%= transaction.item.id %></th>
        <td><%= transaction.item.title %></td>
        <td><%= transaction.item.price %></td>
        <% @total_price << transaction.item.price %>
        <td>
          <%= link_to "Retirer du panier", transaction_path(transaction.id), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <p>Le panier fait un total de <%= @total_price.sum %> roupies.</p>
  </div>
  <div>
    <%= link_to 'Valider votre commande', new_charge_path, class: 'btn btn-primary' %>
  </div>
</div>