<div class="text-center">


<h2>Log in</h2><br><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<!--================================================ INPUT MAIL =========================================-->
<!--============ TITRES ==============-->
<div class="form-group">
<!--============ CENTRER LE BOUTON ==============-->
  <div class="container">
    <div class="row">
      <div class="m-auto">
<!--============ CREER UN GROUPE DE BOUTONS ==============-->
        <div class="form-group">
          <div class="input-group mb-3">

<!--============ INTEGRER ICONE DANS LE BOUTON AVANT LE TEXTE (PREPREND)==============-->
            <div class="input-group-prepend">
<!--============ ICONE ==============-->
              <span class="input-group-text fa fa-at"></span>
              <%= f.email_field :email, autofocus: true, placeholder: "email" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================================================ END INPUT MAIL =========================================-->


<!--================================================ INPUT PASSWORD =========================================-->
<!--============ TITRES ==============-->
<div class="form-group">
<!--============ CENTRER LE BOUTON ==============-->
  <div class="container">
    <div class="row">
      <div class="m-auto">
<!--============ CREER UN GROUPE DE BOUTONS ==============-->
        <div class="form-group">
          <div class="input-group mb-3">

<!--============ INTEGRER ICONE DANS LE BOUTON AVANT LE TEXTE (PREPREND)==============-->
            <div class="input-group-prepend">
<!--============ ICONE ==============-->
              <span class="input-group-text fas fa-unlock"></span>
                <%= f.password_field :password, placeholder: "current-password" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================================================ END INPUT PASSWORD =========================================-->


<!--================================================ BUTTON REMEMBER ME=========================================-->
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <!--================================================ END BUTTON REMEMBER ME=========================================-->
<!-- BOUTTON SIGN IN -->
  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>


</div>
