<div class="container-fluid px-0">

  <div class="jumbotron bg-primary border border-success">
      <div class="container">
        <h1 class="display-4">
          Photos de snowboard en noir et blanc <br/> <small>parce que c'est de saison</small>
        </h1>
        <p class="lead">
          Tu vas voir notre collec est top, par contre j'espère que t'as des roupies sur toi 
        </p>
      </div> <!-- /container -->
    </div> <!-- /jumbotron -->

  <div class="row w-75 mx-auto">
    <!-- Display all the items in cards -->
    <% @items.each do |item| %>
      <div class='col-md-4 col-lg-3 p-3'>
        <div class="card border border-primary">
        <%if item.picture.attached?%>
          <%= image_tag item.picture, class: "w-100", alt: 'picture' %>
        <%else%>
          <p>=== random pix ===</p>
          <img src="<%= item.image_url %>%" class="card-img-top border-circle" alt="product image">
        <%end%>
          <div class="card-body">
            <h3 class="card-title text-primary"><%= item.title %></h3>
            <h5 class="card-title"><%= item.price %> roupies</h5>
            <p class="card-text text-muted"><%= item.description %></p>
            <hr>
            <% if user_signed_in? %>
            <p><%= button_to "Ajouter au panier", add_to_cart_path(:item_id => item.id), {:method => :post, :class => "btn btn-primary"} %></p>
            <% end %>
            <p><%= link_to 'Détails', item_path(item), { :class => "btn btn-outline-secondary" } %></p>
          </div> <!-- /card-body-->
        </div> <!-- /card -->
      </div> <!-- /card column -->
    <% end %>
    <!-- End of items card display -->
  </div> <!-- /row -->
</div><!-- /container-fluid-->