<div class="container-fluid">
  <div class="row p-5">
    
    <div class="col-md-6 py-5 pl-5">
      <%if @item.picture.attached?%>
        <%= image_tag @item.picture, class: "w-100", alt: 'picture' %>
      <%else%>
        <p>=== random pix ===</p>
        <img src="<%= @item.image_url %>" alt="item image">
      <%end%>
    </div> <!-- /col-md-6-->

    <div class="col-md-6 pr-5 d-flex">
      <div class="card border my-auto">
        <div class="card-body">
          <h5 class="card-title"><%= @item.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= @item.price %> roupies</h6>
          <p class="card-text"><%= @item.description %></p>
          <% if user_signed_in? %>
          <%= button_to "Ajouter au panier", add_to_cart_path(:item_id => @item.id), {:method => :post, :class => "btn btn-success"} %>
          <% end %>
        </div>
      </div>
    </div>
    <div> <!-- active storage -->
     <%= form_tag item_pictures_path(@item), multipart: true do %>
      <%= file_field_tag :picture %>
      <%= submit_tag "uploader une photo" %>
    <% end %>
    </div>

  </div> <!-- / row -->
</div><!-- /container-fluid -->