<div class='container bg-light rounded'>
  <h2 class="my-4 text-center">Récapitulatif de votre commande</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Photo #</th>
        <th scope="col">Titre de la photo</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>
    <tbody>
      <% @items.all.each do |item| %>
      <tr>
        <th scope="row"><%= item.id %></th>
        <td><%= item.title %></td>
        <td><%= item.price %></td>
        <% @order.total += item.price %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_tag charges_path do %>
    <article class="mt-4">
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span class="font-weight-bold">Total: <%= @order.total %> roupies</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Total de votre commande"
            data-amount="<%= @order.total * 100 %>"
            data-currency="INR"
            data-locale="auto"
            data-email="<%= @user.email %>">
    </script>
  <% end %>
</div> <!-- /container -->