<!DOCTYPE html>
<html>

<head>
  <title>ThpKittiesDealers</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/f1f069f515.js" crossorigin="anonymous"></script>
</head>




<body>

  <!--ATTRIBUTS NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--ICONE CHAT - URL : https://fontawesome.com/icons/cat?style=solid-->
    <%= link_to root_path, class: "text-dark mr-2" do %>
    <%= fa_icon "cat 4x" %>
    <% end %>

    <!--BOUTON BURGER QUI S'AFFICHE SUR PETIT ECRAN-->
    <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--ATTRIBUTS NAVBAR-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!--GROUPE BOUTONS DE GAUCHE-->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Kitties Dealers Inc', root_path, class: "text-dark nav-link mx-2 disabled" %>
        </li>
      </ul>


      <!-- BARRE DE RECHERCHE - FORME-->
      <form class="form-inline my-2 my-lg-0 mx-2 w-100">
        <!-- BARRE DE RECHERCHE - CONTENU-->
        <input class="form-control mr-sm-2 mx-3 w-75 text-center" type="search" placeholder="Search"
          aria-label="Search">
        <!-- BOUTON SEARCH-->
        <button class="btn btn-secondary my-2 my-sm-0 mx-3" type="submit">Search</button>
      </form>


      <!--BOUTONS DE CONNEXION AU COMPTE-->
      <ul class="navbar-nav mr-auto">
        <!--BOUTONS DE PANIER - url : https://fontawesome.com/icons?d=gallery&q=CART-->
        <% if user_signed_in? %>
        <li class="nav-item">
        <div class="text-center">
          <%= link_to cart_path(current_user.cart.id), class: "nav-link" do %>
            <span><i class="fas fa-shopping-cart fa-2x" aria-hidden="true"></i></span>
            <span class="badge badge-pill badge-primary"><%= current_cart.items.length %> </span>
          <% end %>
        </div>
        </li>

        <% end %>
        <!--BOUTONS POUR ESPACE DE SEPARATION-->
        <li class="nav-item">
          <i class="nav-link disabled"></i>
        </li>

        <% if user_signed_in? %>
        <!--BOUTONS DEPLIANT DE CONNEXION AU COMPTE-->
        <li class="nav-item dropdown">
          <!--TITRE DU BOUTON -> RESTE TOUJOURS AFFICHE-->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <!--BOUTONS QUI SE DEPLIENT-->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", root_path, class: "dropdown-item" %>
            <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

        <% else %>
        <!--BOUTONS DEPLIANT DE CONNEXION AU COMPTE-->
        <li class="nav-item dropdown">
          <!--TITRE DU BOUTON -> RESTE TOUJOURS AFFICHE-->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Mon compte
          </a>
          <!--BOUTONS QUI SE DEPLIENT-->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Suivre une commande</a>
            <span class="glyphicon glyphicon-search"></span>
          </div>
        </li>

        <% end %>

      </ul>






    </div>
    <!--DIV DE NAVBAR-->
  </nav>


  <%= yield %>
</body>

</html>