<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Kitties Dealers Inc</h1>
    <hr>

    <h3>Bonjour à toi !</h3>
    <p>Tu trouveras ci-dessous la raison pour laquelle on t'envoie ce message.</p>
    <p>Kiffe bien !</p>

    <%= yield %>

    <p>À bientôt on espère !</p>
    <p>KDC</p>
  </body>
</html>
